.create-league-container {
    background-color: #333333cc; /* Dark gray for the container */
    border-radius: 8px;
    min-width: 320px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 500px; /* Center the form with a fixed width */
    margin: 0 auto;
    z-index: 2;
  }
  
  .create-league-container h2 {
    color: #f0f0f0; /* Light color for the heading */
    margin-bottom: 20px;
    text-align: center;
  }
  
  .create-league-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .league-label {
    color: #f0f0f0; /* Light text color for the label */
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .league-input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #333; /* Darker input background */
    color: #f0f0f0; /* Light text color */
  }
  
  .create-league-button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .create-league-button:hover {
    background-color: #0056b3;
  }
  @media (max-width:768px) {
    .create-league-container {
      margin-left: 14px;
      margin-right: 14px;
    }
  }