.dashboard-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: #333333cc; /* Dark background */
  border-radius: 8px;
  z-index: 2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white; /* Light text color */
}

.dashboard-header {
  margin-bottom: 20px;
}

.dashboard-nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  padding: 10px;
  gap: 10px;
}

.nav-link {
  text-decoration: none;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.nav-link:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.leagues-section {
  margin-bottom: 20px;
}

.leagues-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.league-card {
  background-color: #444; /* Dark gray for league cards */
  border-radius: 8px;
  padding: 15px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.league-card:hover {
  background-color: #555; /* Slightly lighter on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.league-link {
  text-decoration: none;
  color: #f0f0f0; /* Light color for text */
  font-weight: bold;
  display: block;
  text-align: center;
}

.dashboard-footer {
  margin-top: 20px;
  text-align: center;
}

.logout-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #e60000;
}
@media (max-width:768px) {
  .dashboard-container {
    margin-left: 14px;
    margin-right: 14px;
  }
}
@media (max-width:545px) {
  .dashboard-container{
    width: 100%;
  }
  .dashboard-nav {
  flex-direction: column;
  padding: 0;
  }
  .logout-button {
    width: 100%;
  }
}