.league-table-scrollable-wrapper {
    overflow: auto; /* Enable horizontal scrolling */
    max-width: 100%; /* Make sure the container fits within the parent */
    /* border: 1px solid #333; */
    /* border-radius: 8px; */
    /* padding: 10px; */
    border: 1px solid #ccc;
  

    background-color: #444; /* Match the dark gray card style */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .league-table {
    width: max-content; /* Ensure the table is only as wide as its content */
    max-width: 100%; /* Make sure the table fits within the parent */
    border-collapse: collapse;
  }
  
  .league-table th,
  .league-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    white-space: nowrap; /* Prevent text from wrapping */
  }
  
  .league-table th {
    background-color: #333;
    color: white;
    position: sticky; /* Keep the header fixed at the top */
    top: -1px;
    z-index: 1;
  }
  
  .league-table  tr th:first-child,
  .league-table tr td:first-child{
    position: sticky;
    left: -1px;
    z-index: 2;
    background-color: #333;
  }
  .league-table  tr th:first-child{
    z-index: 3;

  }
  .league-tabletable thead th:first-child {
    position: sticky;
    left: 0;
    background-color: #333;
    z-index: 2;
  }
  .league-table tbody th {
    position: sticky;
    left: 0;
    background: white;
    z-index: 1;
  }
  .prediction-outcome-CORRECT {
    background-color: green;
    color: white;
  }
  
  .prediction-outcome-INCORRECT {
    background-color: red;
    color: white;
  }
  
  .prediction-outcome-no-prediction {
    background-color: gray;
    color: white;
  }
  